<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.svv.mobileapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name="be.svv.view.assignment.AddEditAssignmentActivity"
            android:launchMode="singleTop"
            android:parentActivityName="be.svv.view.MainActivity" />
        <activity
            android:name="be.svv.view.course.AddEditCourseActivity"
            android:launchMode="singleTop"
            android:parentActivityName="be.svv.view.MainActivity" />
        <activity
            android:name="be.svv.view.category.AddCategoryActivity"
            android:launchMode="singleTop"
            android:parentActivityName="be.svv.view.MainActivity" />
        <activity
            android:name="be.svv.view.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="Secondary Activity"
            android:theme="@style/Theme.MobileApplication" />
        <activity android:name="be.svv.view.security.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>